<html>
  <head>
    <title>Deleted contacts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <h1>You are all alone.</h1>
    <form action='/'>
      <button type='submit' class='btn-success'>Add new contacts.</button>
    </form>
  </body>
</html>
