<html>
  <head>
    <title>Deleted contacts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Address book cleared!</h1>
      <p>You are all alone.</p>
      <form action='/'>
        <button type='submit' class='btn-success'>Add new contacts</button>
      </form>
    </div>
  </body>
</html>
