<html>
  <head>
    <title>Address Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Address Book</h1>

<!-- this holds created contacts -->
      {% if contacts is not empty %}
        <p>Here are all your contacts:</p>
        <ul>
          {% for contact in contacts %}
          {{ contact.getName }}
          <li> {{ car.getPhone }} </li>
          <li> {{ car.getAddress }} </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

<!-- form for new contact creation goes here -->
    <div class="container">
      <form action='/add_contact' method='post'>
        <div class="form-group">
          <label for='name'>Contact's name?</label>
          <input id='name' name='name' type='text' required>

          <label for='phone'>Contact's phone number?</label>
          <input id='phone' name='phone' type='text' required>

          <label for='address'>Contact's address?</label>
          <input id='address' name='address' type='text' required>

          <button type='submit' class="btn-success">Add Contact</button>
        </div>
      </form>
      <form action='/delete' method='post'>
        <button type='submit' class="btn-success">Delete All Contacts</button>
      </form>
    </div>
  </body>
</html>
